
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #001935;
}
::selection{
    color: #fff;
    background: #2e2f49;
}

a {
    color: #FF9677;
    padding:17px;
    text-decoration: none;
}

a.home-link {
    padding: 10px 0px 0px 20px;
    align-items: center;
    justify-content: center;
}

span.logout {
    padding-right: 18px;
    padding-top: 8px;
}

span.userpagelink-span {
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

nav {
    display: flex;
}

a.userpage-link {
    padding: 0px 7px 0px 5px;
    color:lightgray
    
}

.wrapper {
    margin: 20px 20px 20px 20px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 1fr);
}

.wrapper li {
    height: 250px;
    list-style: none;
    border-radius: 5px;
    padding: 15px 20px 20px ;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }

.add-box, .icon, .bottom-content,
.settings .menu li, .popup, header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.add-box .icon {
    height: 78px;
    width: 78px;
    color: rgb(240, 240, 240);
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    border: 2px dashed rgb(243, 241, 237);
}

.add-box p {
    color: rgb(180, 180, 180);
    font-weight: 500;
    margin-top: 6px;
}

.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note p {
    font-size: 1rem;
    font-weight: 500;
}

.note span {
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 1rem;
}

.note .bottom-content{
    border-top: 1px solid rgb(63, 52, 52);
    padding-top: 10px;
}

.bottom-content span {
    color: #6d6d6d;
    font-size: 15px; 
}

.bottom-content .settings i{
    color: #6d6d6d;
    width:75px;
    font-size: 15px;
    cursor: pointer;
}


.settings {
    position: relative;
}

.settings .menu {
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    transform: scale(0);
    transform-origin:  bottom right;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    transition: transform 0.2s ease;
}

.settings:hover .menu {
    transform: scale(1);
}

.settings .menu li {
    height:25px;
    font-size: 16px;
    border-radius: 0;
    padding: 17px 15px;
    background: #f5f5f5;
    justify-content: flex-start;
}

.menu li:hover {
    background: #978d8d;
}

.menu li i {
    padding-right: 8px;
}

/* CSS de la barra del Search */

.search {
    display: flex;
    align-items: center;
    background-color: rgb(243, 241, 237);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0.5em 1.2em 1em 1.2em;
}

.search input {
    border: none;
    background-color: rgb(243, 241, 237);
}

.search input:focus{
    outline: none;
}

/* CSS DEL POP UP NEW NOTE */

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.4);
}

.popup-box .popup {
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.popup-box, .popup-box .popup {
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease-in-out;
}

.popup-box.show, .popup-box.show .popup {
    opacity: 1;
    pointer-events: auto;
}


.popup .content{
    width: calc(100% - 50px);
    background: #fff;
    border-radius: 5px;
    
}

.popup .content header {
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.content header p {
    font-size: 20px;
    font-weight: 500;
}

.content header i {
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}

.content form {
    margin: 15px 25px 35px;
}

.content form .row {
    margin-bottom: 20px;
}

form .row label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}

.content form :where(input, textarea) {
    width: 100%;
    height:50px;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.content form textarea {
    height: 150px;
    resize: none;
    padding: 8px 15px;
}

.content form button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
    background: #6a93f8;
}

.category {
    padding-top: 70px;
}



/* CSS DEL RADIO BUTTON DE NEW NOTE */
.switch {
  position: absolute;
  top:57%;
  left: 28%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #00bc9c;
  transition: all 0.2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}
input[type=radio] {
  display: none;
}
.switch label {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}
label[for=yes] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for=no] {
  position: absolute;
  right: 0px;
}
#no:checked ~ .switch {
  background: #eb4f37;
}
#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}
#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#yes:checked ~ .switch label[for=yes] {
  color: #fff;
}
#no:checked ~ .switch label[for=no] {
  color: #fff;
}


/* CSS DEL FOOTER */

footer {
    color: white;
    padding-left: 10px;
}



/* CSS DEL FORMULARIO DE REGISTRO / LOGIN */
.form-main {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

.loginregisterwrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .loginregisterwrapper .title-text{
    display: flex;
    width: 200%;
  }
  .loginregisterwrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }

  .loginregisterwrapper .title.form-change{
    margin-left: -50%;
  }

  .loginregisterwrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }

  .form-container .form-inner form.form-change{
    margin-left:-50%;
  }
  
  span.signup-now {
      color:#f86ab1;
      padding: 10px;
  }


  .loginregisterwrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #fa4299;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }


  /* CSS DEL POP UP DEL FORMULARIO DE REGISTRO Y LOGIN */

.form-main {
    display: none;
}

.show-form-main{
    display:inline;
}

 
/* CSS del Header */
header {
    padding-bottom: 10px;
    padding-top: 5px;
    vertical-align: middle;
}

.header-login {
    color: rgb(0, 0, 0);
    background-color: #00cf35;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 6px 20px;
    cursor: pointer;
    border: none;
}