
header {
align-items: center;
display: flex;
box-sizing: border-box;
height: 54px;
justify-content: space-between;
margin: auto;
max-width: 1716px;
padding-left: 22px;
padding-right: 20px;
width: 100%;
}

html {
    background-color: #00060e;
    color: white;
}


a {
    color:orange;
  
}

button {
    color: white;
    background-color: red;
}
